.linkage-container{
  background-color: #fff;

}
.header{
  background-color: #74C0FC;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.logo, .darkmode{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}
.input-box input{
  width: 80%;
  height: 5vh;
  padding: 20px;
  margin-top: 20px;
  margin-left: 100px;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.9);
  
}

.addButton{
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #74C0FC;
  margin-left: -80px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.addButton:hover{
  background-color: #0e2c42;
  cursor: pointer;
}
#list{
  width: 80%;
  height: 5vh;
  padding: 20px;
  margin-top: 20px;
  margin-left: 100px;
  border: none;
  background-color: #74C0FC;
  opacity: 0.8;
  border-radius: 20px;
  color: #000;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.9);
}
.list input{
  width: 20px;
  height: 20px;
  background-color: red
}
.itemText{
  text-shadow: #000 4px 4px 4px;
  cursor: pointer;
  font-size: 29px;
  margin-left: 20px;
}
.editButton, .deleteButton {
  background: none;
  border: none;
  cursor: pointer; 
}
.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark input {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
}

.dark button {
  background-color: #333;
  color: #fff;
}
.dark .header{
  background-color: #0C2340;
}
.actions{
  display: flex;
  margin-left: 600px;
  margin-top: -40px;
}
.editButton img,
.deleteButton img {
  width: 60px;
  height: 60px;
  pointer-events: none;
  
 
}


